@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="cadastro">
    <div class="cadastrar">
        <div class="row">
            <div class="col align-self-start">
                <a type="button" class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Destinos">Cadastrar Destino</a>
                <br><br>
                <a type="button" class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Clientes">Cadastrar Cliente</a>
            </div>
        </div>
    </div>
</main>