@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="fundo">
    <h1 class="tituloPromocao">APROVEITE NOSSAS PROMOÇÕES</h1>
    <div class="grid">
        <div class="g-col-6">
            <div class="card" style="width: 18rem;">
                <img src="~/img/foz do iguaçujpg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paraná</h5>
                    <p class="card-text">Pacote para 7 dias</p>
                    <p class="precoAntigo">R$ 2.000,00</p>
                    <p class="promocao">R$ 1.000,00</p>

                </div>
            </div>
        </div>
    </div>
</main>